<style>
.control-section{
    margin-top: 100px;
}

</style>
<div class="col-lg-9 control-section">
    <ejs-gantt id="ganttDefault" #gantt height="430px" [dataSource]="data" [taskFields]="taskSettings" [columns]="columns"
        [timelineSettings]="timelineSettings" [labelSettings]="labelSettings" [allowFiltering]="true" [toolbar]="toolbar"
        [treeColumnIndex]="0" height="450px" [filterSettings]='filterSettings' [allowSelection]="true" dateFormat="MM/dd/yyyy hh:mm:ss"
        [projectStartDate]="projectStartDate" [projectEndDate]="projectEndDate" (actionComplete)="onActionComplete($event)"
        [includeWeekend]="true" [splitterSettings]="splitterSettings" durationUnit="Hour" [dayWorkingTime]="dayWorkingTime">
    </ejs-gantt>
    <div style="float: right; margin: 10px;">Source:
        <a href="https://en.wikipedia.org/wiki/Apollo_11#Launch_and_flight_to_lunar_orbit"
            target='_blank'>https://en.wikipedia.org/</a>
    </div>
</div>
<div class="col-lg-3 property-section">
    <div class="property-panel-section">
               <div class="property-panel-header">Properties </div>
       <table id="property" class="property-panel-table" title="Properties" style="width: 100%">
           <tr style="height: 50px">
               <td >
                   <div style="width: 100px">Filter Type</div>
               </td>
               <td style="width: 50%;padding-right: 10px">
                     <div>
                       <ejs-dropdownlist #dropdown1 id='typeelement'  width= '100px' [dataSource]='d1data' [fields]='typefields' value='Menu'  (change)="change($event)"></ejs-dropdownlist>
                     </div>
               </td>
           </tr>
           <tr style="height: 50px">
            <td >
                <div style="width: 100px"> Hierarchy Mode</div>
            </td>
            <td style="width: 50%;padding-right: 10px">
                  <div>
                    <ejs-dropdownlist #dropdown2 id='modeelement'  width= '100px' [dataSource]='d1data2' [fields]='typefields' value='Parent'  (change)="change1($event)"></ejs-dropdownlist>
                  </div>
            </td>
        </tr>
       </table>
   </div>
</div>
